<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBACanuSvjp0kumic1DL284D7XjDv02qoM</string>
	<key>GCM_SENDER_ID</key>
	<string>185742749256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HumbleCoders.in.Smart-Attend</string>
	<key>PROJECT_ID</key>
	<string>smart-attendance-1885b</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-attendance-1885b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185742749256:ios:378bce8d277918eafaf27d</string>
</dict>
</plist>